@import "./variables";
.animation-editor{
  //background: $background-color;
  background: rgb(250, 250, 250) url('../assets/img/BG-repeat.png') repeat center center;
  height: 100vh;
  font-size: 17px;
}
.animation-editor-workspace{
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




