@import "./variables";

.animation-setting-block-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% высоты видимой области страницы */
}
.animation-setting-block-title{
  text-align: center;
  margin-bottom: 10px;
}

.animation-setting-block-btns{
  display: flex;
  justify-content: space-evenly;
  padding: 6px;
  border: solid #ddd 1px;
  border-radius: 7px;
  &__btn {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    border-radius: 5px;
  }

}

.activeAnimBtn{
  background-color: #AAC2FF;
  color: #ffffffdd;
}