.animation-setting-block{

}
.animation-setting-block-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% высоты видимой области страницы */
}
.animation-setting-block-title{
  text-align: center;
}

.animation-setting-block-btns{
  display: flex;
  justify-content: space-evenly;
  padding: 6px;
  border: solid #ddd 1px;
  border-radius: 7px;
  &__btn {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;


  }
  .motionCurve{
    background: url('../assets/img/motionCurve.svg') no-repeat center center;
    background-size: 110% 110%;
  }
  .rotateElement{
    background: url('../assets/img/rotateElement.svg') no-repeat center center;
    background-size: 100% 100%;
  }
  .motionCurve::after {
    content: "Motion Curve";
    display: none;
    position: absolute;
    padding: 10px 0;
    font-size: 13px;
    color: gray;
  }

  //.motionCurve:hover::after {
  //  display: block; /* Показываем текст при наведении */
  //}



}