@import "./variables";
.animation-editor{
  background: $background-color;
  height: calc(100vh - 40px);
}
.animation-editor-workspace{
  padding: 110px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.setting-block{
  padding: 15px;
  width: 350px;
  height: 600px;

  background-color: #ffffff; /* Цвет фона блока */
  border-radius: 30px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.10);
}

.action-panel-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-button{
  margin: 0 20px;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: $main-color-animation-editor;
  color: #FFFFFF;
}
