@import "./variables";
.editor{

  background: rgb(250, 250, 250) url('../assets/img/BG-repeat.png') repeat center center;
  height:100vh;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
}
.editor-workspace{
  padding: 10vh 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80%; 

  
}
.block-container{
  // padding: 0;
  display: flex;
  align-items: center;
  height: 100%; 
  width: 18vw;
  position: relative;
}
.book-block{
  height: 700px;
}
.hidden-block{
  display: flex;
  align-items: center;
  height: 100%; 
  width: 5vh;
  position: relative;

}
.icon-button {
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  z-index: 10; 
}
.action-panel-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.action-button{
  width: 13vw;
  margin: 0 20px;
  font-size: 1.1vw;
  padding: 0.8vw 2vw;
  border-radius: 15px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: $main-color-animation-editor;
  color: #FFFFFF;
}

.left{
  right: 0;
}
.rigth{
  left: 0;
}

@media (max-width: 1700px) {
  .block-container {
    width: 16vw; 
  }
}

@media (max-width: 1400px) {
  .block-container {
    width: 14vw; 
  }
}

@media (max-width: 1200px) {
  .block-container {
    width: 12vw; 
  }
}

@media (max-width: 1000px) {
  .block-container {
    width: 10vw; 
  }
}

// @media (max-width: 800px) {
//   .setting-block {
//     width: 90vw; /* Почти полная ширина экрана для маленьких устройств */
//     height: calc(90vw * (700 / 340)); /* Сохраняем соотношение сторон */
//   }
// }
