.file {
  height: 50px;
    margin: 18px 0;
    font-size: 15px;
    padding-left: 10px;
    // border-bottom: solid 2px #566885;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 8px; 
    outline: none;
    background-color: #ECF2FF;
    width: 100%;
    
  }
  //.file:hover {
  //  transform: scale(1.02);
  //}
  .file__img {
    justify-self: center;
  }
  .file__date {
    grid-column-start: 5;
    justify-self: center;
  }
  .file__size {
    grid-column-start: 6;
    justify-self: center;
  }

  .file__btn {
    padding-right: 8px;
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 6px;
  }
   .file__date {
    grid-column-start: 3;
  }
  .file__size {
    grid-column-start: 4;
  }
  .file:hover .file__add {
    width: 90px;
    border-radius: 6px; 
	  grid-column-start: 5;
	  display: block;
    background-color: white;
  }
  .file:hover .file__download {
    width: 40px;
    grid-column-start: 6;
    display: block;
    background-color: #ECF2FF;
    // background: url('../assets/img/download.svg') no-repeat center center;
  }
 .file__delete {
    width: 20px;
    grid-column-start: 7;
    display: block;
    background-color: #ECF2FF;
    // background: url('../assets/img/trash.svg') no-repeat center center;
  }