.file {
    margin: 10px 0;
    border-bottom: solid 2px #566885;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    cursor: pointer;
  }
  .file:hover {
    transform: scale(1.02);
  }
  .file__img {
    justify-self: center;
  }
  .file__date {
    grid-column-start: 5;
    justify-self: center;
  }
  .file__size {
    grid-column-start: 6;
    justify-self: center;
  }

  .file__btn {
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
  }
   .file__date {
    grid-column-start: 3;
  }
  .file__size {
    grid-column-start: 4;
  }
  .file:hover .file__add {
    width: 50px;
    border-radius: 6px; 
	  grid-column-start: 5;
	  display: block;
  }
   .file__download {
    width: 40px;
    grid-column-start: 6;
    display: block;
    background-color: white;
    // background: url('../assets/img/download.svg') no-repeat center center;
  }
 .file__delete {
    width: 20px;
    grid-column-start: 7;
    display: block;
    background-color: white;
    // background: url('../assets/img/trash.svg') no-repeat center center;
  }