@import "./variables";
.layer-selector{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item{
    display: flex;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    border: solid #ddd 1px;
    min-width: 100%;
    margin-top: 10px;
    border-radius: 7px;
    cursor: pointer;

    &.active {
      background-color: #ddd;
    }
    .visible{
      background: url('../assets/img/visible.svg') no-repeat center center;
    }
    .invisibleIcon{
      background: url('../assets/img/invisible.svg') no-repeat center center;
    }
  }
  &__btn{
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;

  }

}
.layer-buttons{
  border: solid #ddd 1px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  width: 80px;
  padding: 5px;
  &__btn{
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;

  }
  .add-layer{
    background: url('../assets/img/addLayerIcon.png') no-repeat center center;
  }
  .remove-layer{
    background: url('../assets/img/removeLayerIcon.png') no-repeat center center;
  }
}
