@import "./variables";
.nav-bar .active {
  background: rgb(250, 250, 250);
}
.editor-link{
  //display: flex;
  //justify-content: space-around;
}
.nav-bar{
  height: $navbar-heigth;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; 
}
.nav-bar a:hover {
  text-decoration: underline;
  color: #8DADFF;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}
.home-icon {
  position: absolute;
  left: 5px;
  top: 0;
}

.editor-icon {
  margin: 0 10px ;
}

.nav-bar .editor-link {
  width: 300px;
  padding: 10px 20px;
  height: 100%;
  //text-decoration: none;
  color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.nav-bar a{
  padding: 10px 20px;
  height: 100%;
  text-decoration: none;
}

.home-title{
  font-family: 'MyCustomFont', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-left: 30px;
    color: #7d53ff;
}

.home-title::after{
  font-family: 'MyCustomFont', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.logout {
  width: 200px;
  // margin-top: 5px;
  text-align: center;
  padding-top: 10px;
  height: 40px;
  // margin-right: 5px;
  border: none;
  border-radius: 8px; 
  outline: none;
  cursor: pointer;
  background-color: #8DADFF;
  color: #ffffff;
}