.setting-block{
    padding: 5%;
    width: 340px;
    height: 700px;
    background-color: #ffffff; /* Цвет фона блока */
    border-radius: 30px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.10);
}