@import "./variables";

.svg-tool-bar{
  height: 88%;
  .svgRect{
    background: url('../assets/img/svgRect.svg') no-repeat 0 0/cover;
  }

  .svgBrush{
    background: url('../assets/img/svgBrush.svg') no-repeat 0 0/cover;

  }
  .svgLine{
    background: url('../assets/img/svgLine.svg') no-repeat 0 0/cover;
  }

  .svgCircle{
    background: url('../assets/img/svgCircle.svg') no-repeat 0 0/cover;
  }
  .svgPolygon{
    background: url('../assets/img/svgPolygon.svg') no-repeat 0 0/cover;
  }
  .svgPolyline{
    background: url('../assets/img/svgPolyline.svg') no-repeat 0 0/cover;
  }
  .boxSelect{
    margin-top: 1px;
    background: url('../assets/img/BoxSelect.svg')no-repeat 0 0/cover;

  }

}
.svg-tool-bar-title{
  text-align: center;
}
.svg-setting-bar{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

}
.stroke-color{
  appearance: none;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.setting-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80%;

}
