.svg-canvas{
  border-radius: 7px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}
.selected-svg{
  stroke: red; /* Измените цвет рамки */

}
.path-3{
  animation: rotatePath_0 3s ease-in-out infinite;
}
@keyframes rotatePath_0 {
  0% {
    transform-origin: 500px 200px;
    transform: rotate(0deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  }
  20% {
    transform: rotate(10deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  }
  75% {
    transform: rotate(0deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  }
  100% {
    transform: rotate(0deg) scale(1, 1) translate(0px, 0px) skew(0deg, 0deg);
  }
}