@import "./variables";
.timeline-block{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: $main-color-animation-editor;
  padding: 0 10px;
  display: flex;
  color: white;

}
.btn-time-block{
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.play-button{
  background: url('../assets/img/play.svg') no-repeat center center;
}
.pause-button{
  background: url('../assets/img/pause.svg') no-repeat center center;
}
.left-stop-button{
  background: url('../assets/img/leftStop.svg') no-repeat center center;
}
.timeline-left{
  padding: 0 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.timeline-controls{
  display: flex;
  text-align: center;
  align-items: center;
  height: 40%;
}

.timer{
  width: 90px;
  padding: 0 5px;
}

.speed-slider {
  -webkit-appearance: none;
  width: 140px; /* Ширина слайдера на 100% */
  height: 10px; /* Высота слайдера */
  border-radius: 5px;
  background: #ddd;
  outline: none;
}

/* Стили для ползунка в Chrome и Safari */
.speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:$main-color-animation-editor;
  cursor: pointer;
}

/* Стили для ползунка в Firefox */
.speed-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $main-color-animation-editor;
  cursor: pointer;
}
.timeline-right{
  width: 100%;
  height: 100%;
  //background: $main-color-animation-editor;
  border-radius: 5px;
  padding: 0px 10px;
}
.timeline-ticks{
  position: relative;
  width: 1500px;
  height: 40%;
}
.tick{
  position: absolute;
  display: inline-block;
  background: white;
  width: 2px;
  height: 100%;
}
.sub-tick{
  position: absolute;
  display: inline-block;
  background: white;
  width: 2px;
  height: 50%;
  bottom: 0;
}
.thumb-end-time{
  position: absolute;
  //display: inline-block;
  background: #2E50A6;
  width: 4px;
  //border-left: solid 3px $main-color-animation-editor;
  //border-right: solid 3px $main-color-animation-editor;
  height: 100%;
  cursor: ew-resize;

}
.thumb-current{
  position: absolute;
  display: inline-block;
  background: white;
  width: 4px;
  //border-left: solid 3px $main-color-animation-editor;
  //border-right: solid 3px $main-color-animation-editor;
  height: 100%;
}
.thumb-current-head{
  position: absolute;
  bottom: 0;
  transform: translateX(-25%);

}
.timeline-animation-tool{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  //margin-top: 30px;
  border: solid 2px white;
  &__title{
    font-size: 16px;
    padding: 5px;
  }

}
.timeline-line{
  width: 1500px;
  height: 30px;
  border: solid 2px white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

}
.btn-key{
  width: 12px;
  height: 12px;
  background: white;
  transform: translateX(-50%) rotate(45deg);

  cursor: pointer;
}
.key-add{
  background: url('../assets/img/keyframe-add.svg') no-repeat center center;
}
.frame{
  position: absolute;
  //background: url('../assets/img/keyframes.svg') no-repeat center center;
}
.active-frame{
  background: #c1e0ff;
}
.timeline-keyframes{
  position: relative;
  width: 1500px;
  height: 60%;
}
.modal-container{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.input-modal{
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  border-bottom: solid 2px #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
}
.input-modal:focus {
  outline: none;
  border-bottom: solid 2px #ddd; /* Возврат к исходному стилю при фокусировке */
}
.button-modal{
  background: #8DADFF;
  border: none;
}
