@import "./variables";
.timeline-block{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: $main-color-animation-editor;
  //padding: 0 10px;
  //display: flex;
  color: white;
  display: grid;
  grid-template-columns: 1fr 9fr; // первый столбец в 3 раза меньше второго
  grid-template-rows: 1fr 2fr; // две строки, каждая автоматически адаптируется по высоте контента
  gap: 2px; // расстояние между столбцами и строками
}
.btn-time-block{
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.play-button{
  background: url('../assets/img/play.svg') no-repeat center center;
}
.pause-button{
  background: url('../assets/img/pause.svg') no-repeat center center;
}
.left-stop-button{
  background: url('../assets/img/leftStop.svg') no-repeat center center;
}
.timeline-left{
  padding: 0 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.timeline-controls-default{
  background-color: #AAC2FF;
  display: flex;
  text-align: center;
  align-items: center;
  //height: 40%;
  grid-column: 1 / 1.5; // Занимает первый столбец
  justify-content: center;
  padding: 0 10px;
  max-width:  100%;
  flex: 1;
}

.timeline-controls-wide{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  max-width:  100%;

  
}

.timeline-player{
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.timeline-tools{
  //max-height: 400px;
  //overflow-y: auto;
  grid-column: 1 / -1; // Занимает первый столбец
  //grid-row: 2 / 3; // Занимает вторую строку

  display: grid;
  grid-template-columns: 1fr 9fr; // Соотношение ширины столбцов, как в основном Grid
  grid-row: 2 / 3;
  width: 100%; // Полная ширина
}

.timer{
  width: 90px;
  //padding: 0 5px;
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}

.speed-slider {
  -webkit-appearance: none;
  width: 140px; /* Ширина слайдера на 100% */
  height: 10px; /* Высота слайдера */
  border-radius: 5px;
  background: #ddd;
  outline: none;
}

/* Стили для ползунка в Chrome и Safari */
.speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:$main-color-animation-editor;
  cursor: pointer;
}

/* Стили для ползунка в Firefox */
.speed-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $main-color-animation-editor;
  cursor: pointer;
}

.timeline-ticks{
  background-color: #AAC2FF;
  position: relative;
  width: 100%;
  //height: 40%;
  grid-column: 2 / 3; // Занимает второй столбец
  grid-row: 1 / 2; // Занимает первую строку
}
.tick{
  position: absolute;
  display: inline-block;
  background: white;
  width: 2px;
  height: 100%;
}
.sub-tick{
  position: absolute;
  display: inline-block;
  background: white;
  width: 2px;
  height: 50%;
  bottom: 0;
}
.thumb-end-time{
  position: absolute;
  //display: inline-block;
  background: $main-color-animation-editor;
  width: 4px;
  //border-left: solid 3px $main-color-animation-editor;
  //border-right: solid 3px $main-color-animation-editor;
  height: 100%;
  cursor: ew-resize;

}
.thumb-current{
  position: absolute;
  display: inline-block;
  background: white;
  width: 4px;
  //border-left: solid 3px $main-color-animation-editor;
  //border-right: solid 3px $main-color-animation-editor;
  height: 100%;
}
.thumb-current-head{
  position: absolute;
  bottom: 0;
  transform: translateX(-25%);

}
.timeline-animation-tool{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  //margin-top: 30px;
  //border: solid 2px white;
  background: #AAC2FF;
  padding: 0 10px;
  &__title{
    font-size: 16px;
    padding: 5px;
  }
  &__key-action{
    display: flex;
    width: 50px;
    justify-content: space-around;
  }

}

.timeline-items{
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  overflow-y: auto; // Добавляет вертикальную полосу прокрутки при необходимости
  max-height: 100%; // Максимальная высота элемента, для возможности прокрутки
  gap: 2px;
}
.timeline-item{
  //display: flex;
  //flex-direction: row;
  //width: 100%;
  display: grid;
  grid-template-columns: 1fr 9fr; // Соотношение ширины столбцов, как в основном Grid
  width: 100%;
  gap: 2px; // расстояние между столбцами и строками
}
.timeline-line{
  grid-column: 2;
  height: 30px;
  //border: solid 2px white;
  background: #AAC2FF;
  //width: 1500px;
  display: flex;
  align-items: center;
  position: relative;
}

.timeline-keyframes{
  position: relative;
  width: 1500px;
  height: 60%;
}
.btn-key{
  width: 12px;
  height: 12px;
  background: white;
  transform: translateX(-50%) rotate(45deg);

  cursor: pointer;
}
.key-add{
  width: 21px;
  height: 21px;  
  background: url('../assets/img/keyframeAdd.svg') no-repeat 0 0/cover;
  cursor: pointer;
}
.key-remove{
  width: 21px;
  height: 21px;  
  background: url('../assets/img/keyframeRemove.svg') no-repeat 0 0/cover;
  cursor: pointer;
}
.frame{
  position: absolute;
  //background: url('../assets/img/keyframes.svg') no-repeat center center;
}
.frame[data-active="true"] {
  background-color: #c1e0ff; /* Цвет для активного ключевого кадра */
}
// .timeline-bar{
//   position: absolute;
// }

.timeline-keytime{

  //position: relative;
}

.timeline-keyframes{
  position: relative;
  width: 1500px;
  height: 100%;
}
.modal-container{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.input-modal{
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  border-bottom: solid 2px #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
}
.input-modal:focus {
  outline: none;
  border-bottom: solid 2px #ddd; /* Возврат к исходному стилю при фокусировке */
}
.button-modal{
  background: #8DADFF;
  border: none;
}
