@import "./variables";

.tool-bar{
  //height: $toolbar-height;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 37%;
  //align-items: center;
  //position: absolute;
  width: 100%;
  //border-top: solid #EDEEF1 2px;
  //border-bottom: solid #EDEEF1 2px;
  //box-shadow: 0 4px 5px gray;
  //z-index: 999;

  &__btn {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-left: 10px;
  }
  .brush {
    background: url('../assets/img/brush.svg') no-repeat 0 0/cover;
  }
  .scratch {
    background: url('../assets/img/scratch.svg') no-repeat 0 0/cover;
  }
  .bubbles {
    background: url('../assets/img/bubbles.svg') no-repeat 0 0/cover;
  }
  .pencil {
    background: url('../assets/img/pencil.svg') no-repeat 0 0/cover;
  }
  .rect {
    background: url('../assets/img/Rect.svg') no-repeat center center;
  }
  .circle {
    background: url('../assets/img/circle.png') no-repeat center center;
  }
  .eraser {
    background: url('../assets/img/eraser.png') no-repeat center center;
  }
  .line {
    background: url('../assets/img/line.png') no-repeat center center;
  }
  .undo {
    //margin-left: auto;
    background: url('../assets/img/undo.png') no-repeat center center;
  }
  .redo {
    background: url('../assets/img/redo.png') no-repeat center center;
  }
  .save {
    background: url('../assets/img/save.png') no-repeat center center;
    //margin-right: 10px;
  }


}

.setting-bar{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //align-items: center;
  //position: absolute;
  width: 100%;
  height: 65%;
}
.slider-line-width{
  min-width: 200px;
  height: 25px;
}

.brush-block-container{

}
.tool-bar-item-title{
  text-align: center;
  //padding: 8px;
}
.tool-bar-item{
  display: flex;
  justify-content: space-evenly;
  padding: 6px;
  border: solid #ddd 1px;
  border-radius: 7px;
}