@import "./variables";

.tool-bar{
  //height: $toolbar-height;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;

  width: 100%;


  &__btn {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
  }

  &__btn-tools {
    height: 28px;
    width: 28px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    //margin-left: 10px;
  }
  .pen {
    background: url('../assets/img/brush.svg') no-repeat 0 0/cover;
  }
  .brush{
    background: url('../assets/img/svgBrush.svg') no-repeat 0 0/cover;
  }
  .scratch {
    background: url('../assets/img/scratch.svg') no-repeat 0 0/cover;
  }
  .bubbles {
    background: url('../assets/img/bubbles.svg') no-repeat 0 0/cover;
  }
  .pencil {
    background: url('../assets/img/pencil.svg') no-repeat center center;
  }
  .rect {
    background: url('../assets/img/Rect.svg') no-repeat 0 0/cover;
  }
  .circle {
    background: url('../assets/img/circle.svg') no-repeat 0 0/cover;
  }

  .eraser {
    background: url('../assets/img/Eraser.svg') no-repeat 0 0/cover ;
  }
  .line {
    background: url('../assets/img/Line.svg')no-repeat 0 0/cover ;
  }
  .polygon{
    background: url('../assets/img/triangle.svg') no-repeat 0 0/cover;
  }

  .group{
    background: url('../assets/img/group.svg')no-repeat 0 0/cover ;
  }

  .undo {
    //margin-left: auto;
    background: url('../assets/img/Undo.svg')no-repeat 0 0/cover ;
  }
  .redo {
    background: url('../assets/img/Redo.svg') no-repeat 0 0/cover ;
  }
  .save {
    background: url('../assets/img/save.png') no-repeat center center;
    //margin-right: 10px;
  }
  .fill{
    background: url('../assets/img/fillColor2.svg')no-repeat 0 0/cover;
  }
  .stroke{
    background: url('../assets/img/Stroke2.svg') no-repeat 0 0/cover;
  }
  .select{
    background: url('../assets/img/select.svg') no-repeat 0 0/cover;
  }
  .move{
    background: url('../assets/img/move.svg') no-repeat 0 0/cover;
  }
  .color-picker{
    background: url('../assets/img/color-picker.svg') no-repeat 0 0/cover;
  }
  .smoothBrush{
    background: url('../assets/img/smoothBrush.svg') no-repeat 0 0/cover;
  }
  .marker{
    background: url('../assets/img/marker.svg') no-repeat 0 0/cover;
  }
  .model{
    background: url('../assets/img/model.svg') no-repeat 0 0/cover;
  }


}

.setting-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //align-items: center;
  //position: absolute;
  width: 100%;
}
.slider-line-width{
  min-width: 90%;
  height: 12px;
  -webkit-appearance: none;
  border-radius: 5px;
  //background: #f3f3f3;
  border: solid #ddd 1px;
  outline: none;
  margin: 6px;
}

/* Стили для ползунка в Chrome и Safari */
.slider-line-width::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #dadada;
  cursor: pointer;
}

/* Стили для ползунка в Firefox */
.slider-line-width::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $main-color-animation-editor;
  cursor: pointer;
}

.brush-block-container{

}
.tool-bar-item-title{
  text-align: center;
  //padding: 8px;
  //margin-bottom: 2px;
}
.tool-bar-item{
  display: flex;
  justify-content: space-around;
  padding: 6px;
  border: solid #ddd 1px;
  border-radius: 7px;
  align-items: center;

}
.undo-redo-container{
  display: flex;
  align-items: center;
}