@import "./variables";

.uploader {
  height: 300px;
  width: 300px;
  position: fixed;
  background-color: $blue-color-buttons;
  bottom: 0;
  right: 0;
  padding: 20px;
  padding-top: 10px;
  border-radius: 12px;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: black;
    font-size: 1.2rem;
  }
  &__close {
    padding: 3px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: $blue-color-buttons;
  }
}


.upload-file {
  background-color: white;
  border-radius: 8px;
  margin: 5px 0;
  padding: 5px 10px;
  &__header {
    display: flex;
    justify-content: space-between;
  }
.upload-file__remove{
  border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}
  &__progress-bar {
    height: 1rem;
    border-radius: 8px;
    background-color: #8DADFF;
    display: flex;
    margin: 3px 0;
  }

  &__upload-bar {
    background-color: rgb(78, 180, 78);
    border-radius: 8px;
  }
  &__percent {
    color: #F6F6F6;
    left: 50%;
    position: absolute;
    font-size: 13px;
  }
}