$background-color: #F6F6F6;
$toolbar-height: 40px;
$main-color-animation-editor: #8DADFF;
$purple-color-buttons: #9A7AFF;
$blue-color-buttons: #B5CBFF;
$save-button-book-editor: #F9B6B6;
$color-buttons-modal: #FF6C6C;
$navbar-heigth: 47px;
